<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

 <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body >
      <h2 th:text="${title}"></h2>
      
      <table class="table table-striped">
          <thead>
          <tr>
              <th>Id</th>
              <th>Categoria</th>
              <th colspan="2"><a class="btn btn-outline-primary" href="/categorias/nuevo">Nuevo</a></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cat : ${categorias}">
              <td th:text="${cat.id}"></td>
              <td th:text="${cat.nombre}"></td>
              <td><a class="btn btn-outline-warning" th:href="@{/categorias/editar/{id}(id=${cat.id})}">Editar</a></td>
              <td><a class="btn btn-outline-danger" th:href="@{/categorias/eliminar/{id}(id=${cat.id})}">Borrar</a></td>
          </tr> 
          </tbody>
      </table>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
